@import "tailwindcss";

@theme {
  --color-primary: #8b5cf6;
  --color-primaryHover: #7c3aed;
  --color-darkBlue: #1e293b;
  --color-darkerBlue: #314158;
  --color-textGray: #4b5563;
  --color-lightBg: #f8fafc;
}
