---
import BaseLayout from "../layouts/BaseLayout.astro";

import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import KeyCapabilities from "../components/KeyCapabilities.astro";
import DashboardPreview from "../components/DashboardPreview.astro";
import SchedulingWorkflow from "../components/SchedulingWorkflow.astro";
import FeatureOverview from "../components/FeatureOverview.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout>
  <div
    class="min-h-screen bg-white font-sans text-slate-900 selection:bg-indigo-100 selection:text-indigo-900"
  >
    <Navbar />

    <main>
      <Hero />
      <FeatureOverview />
      <SchedulingWorkflow />
      <DashboardPreview />
      <KeyCapabilities />
    </main>

    <Footer />
  </div>
</BaseLayout>
