---
import Container from "./Container.astro";
import SectionHeading from "./SectionHeading.astro";

import dashboard from "../images/dashboard.png";
import { Image } from "astro:assets";
---

<section class="py-24 bg-white overflow-hidden">
  <Container>
    <SectionHeading title="Everything in One Scheduling Dashboard" />

    <Image
      src={dashboard}
      alt="Scheduling Dashboard"
      class="w-full h-auto rounded-[30px] shadow-[0_30px_80px_rgba(0,0,0,0.15)]"
    />
  </Container>
</section>
