---
import Container from "./Container.astro";
---

<section
  class="mt-[80px] relative bg-center bg-cover bg-no-repeat"
  style="background-image: url('/images/background.jpg');"
>
  <div class="absolute inset-0 bg-black/50"></div>

  <Container>
    <div
      class="relative flex flex-col items-center justify-center py-16 px-6 md:p-[70px] text-center"
    >
      <h1
        class="text-white font-bold text-3xl md:text-5xl lg:text-[60px] leading-tight"
      >
        Smart Scheduling for Modern <br class="hidden md:block" /> Mental Health Practices
      </h1>

      <p
        class="text-white text-base md:text-lg lg:text-[20px] max-w-[800px] mt-5"
      >
        Effortlessly manage oppointments, reduce no-shows, and automate
        reminders with our intelligent scheduling platform.
      </p>

      <div class="flex flex-col sm:flex-row gap-5 mt-12">
        <button
          class="bg-primary hover:bg-primaryHover text-white px-4 py-2 rounded-full font-medium text-[14px] transition transform hover:scale-105"
        >
          Request a Demo
        </button>

        <button
          class="bg-white text-textGray px-4 py-2 rounded-full font-medium text-[14px] transition transform hover:scale-105"
        >
          Learn More
        </button>
      </div>
    </div>
  </Container>
</section>
