---
import Container from "./Container.astro";
---

<nav
  class="fixed top-0 w-screen h-[80px] bg-white z-[999] border-b border-gray-200"
>
  <Container>
    <div class="flex justify-between items-center p-5">
      <a href="/" class="flex items-center gap-2.5">
        <img src="https://aroha-health.com/assets/logo.png" class="w-[40px]" />
        <h1 class="font-bold text-darkBlue">Aroha</h1>
      </a>

      <ul class="hidden md:flex items-center gap-6 text-[15px] text-textGray">
        <li>
          <a href="#features" class="cursor-pointer hover:text-primary">
            Features
          </a>
        </li>
        <li>
          <a href="#pricing" class="cursor-pointer hover:text-primary">
            Pricing
          </a>
        </li>
        <li>
          <a href="#blog" class="cursor-pointer hover:text-primary"> Blog </a>
        </li>
        <li>
          <a href="#testimonials" class="cursor-pointer hover:text-primary">
            Testimonials
          </a>
        </li>
        <li>
          <a href="#faq" class="cursor-pointer hover:text-primary"> FAQ </a>
        </li>
      </ul>

      <button
        class="bg-primary hover:bg-primaryHover text-white px-4 py-2 rounded-full font-semibold text-[14px] transition transform hover:scale-105"
      >
        Request a Demo
      </button>
    </div>
  </Container>
</nav>
