---
import "../styles/global.css";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" /> -->

    <link
      rel="icon"
      type="image/svg+xml"
      href="https://aroha-health.com/assets/logo.png"
    />
    <link rel="icon" href="https://aroha-health.com/assets/logo.png" />

    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    <meta
      name="description"
      content="Aroha Health scheduling system for managing healthcare appointments and sessions."
    />

    <meta property="og:title" content="Aroha Health Scheduling Feature" />
    <meta
      property="og:description"
      content="Simplify healthcare appointment scheduling with Aroha Health."
    />

    <!-- Font Awesome Icon CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/js/solid.min.js"
      integrity="sha512-JqavQXK1jFoFcjU3kIvom9jdj3R76Ar8+ZcWezTLONsfi5Y3yibIqq0FyqP4R//K/G3ow84fIH0wBXKWpJf2EQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
  </head>

  <body class="bg-white text-gray-900">
    <slot />
  </body>
</html>
